@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

*{
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', 'Arial';
    background-color: #ffe8d6;
     
     background-color: #e5e5e5;
}

h1{
    text-align: center;
    margin-top: 10vh;
    color: #fca311;
}

button {
    display: block;
    font-size: 20px;
    margin: 0px auto;
    background-color: rgb(23, 49, 105);
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: none;
}
.btn {
    transition: 1.5s;
    display: block;}
button:hover {
    cursor: pointer;
    box-shadow: 3px 3px 10px black;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    margin: 55px auto;
    box-shadow: 5px 5px 20px black;
}

.item {
    border: solid 1px;
    flex-basis: 100px;
    height: 100px;
    flex-shrink: 1;
    background-color: #ffffff;
}

.player-1 {
    background-image: url(img/red-circle-svgrepo-com.svg);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.player-2 {
    background-image: url(img/blue-circle-svgrepo-com.svg);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}


.win {
    background-color: rgba(47, 255, 47, 0.5);
    background-blend-mode: difference;
}
